<br>
<div class="body">
    <br>
    <h1>Registrations number</h1>
    <br>
    <form class="" action="/reg_numbers" method="post">
        <h3>Please enter <img src="https://www.premier-number-plate.co.uk/images/yourreg.png" alt="" width="120"> number below</h3>
        <input type="text" name="regNumbers" value="">
        <input type="submit" name="button" value="add">
        <br>
        <br>
        <h3>Want to see all numbers from a specific town?</h3>
        <h3>Click one of the below buttons</h3>
        <br>
        <input type="radio" name="place" value="CA">Cape Town
        <input type="radio" name="place" value="CJ">Paarl
        <input type="radio" name="place" value="CY">Bellville
        <input type="radio" name="place" value="ALL">All
        <br>
        <br>
        <input type="submit" name="button" value="search">
    </form>
    <br>
    <br>
</div>
    <br>
    <br>
<section>
    <br>
    <p>
        {{#each plateNumbers}}
            <ul>
                {{this.registrationPlates}}
            </ul>
        {{/each}}
    </p>
    <br>
</section>
</div>
