<!-- <link rel="stylesheet" href="registration_number.css"> -->
<div class="body">
  <h1>Registrations number</h1>
  <form class="" action="/regDisplay" method="post">
    <input type="text" name="regNumbers" value="">
    <button type="button" name="button">submit</button>
  </form>
</div>
